---
---

<nav>
  <div class="nav-inner">
    <div class="nav-logo">RID</div>
    <ul class="nav-links">
      <li><a href="#about">about</a></li>
      <li><a href="#skills">skills</a></li>
      <li><a href="#experience">experience</a></li>
      <li><a href="#projects">projects</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </div>
</nav>
